* {
	// Thanks http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}
.body-gris {
	background-color: #1d1f1e;
	.corporis {
		margin: 0 0 0 0px;
		h1 {
			margin: 0;
		}
		h1, h2 {
			padding-left: 20px;
		}
		h2 {
			margin-top: 60px;
		}
		h3 {
			font-weight: 800;
			margin: 0;
		}
		& > p {
			padding: 10px 0 10px 0;
			font-weight: 800;
			padding-left: 20px;
		}
	}
}
.servicio {
	padding-left: 20px;
	margin-top: 20px;
	padding-top: 20px;
	clear: left;
	&.servicio-padre {
		border-top: 1px dashed white;
		h3 {
			font-size: 1.17em;
		}
		.servicio-tipo {
			width: auto;
		}
	}
	h3 {
		font-size: 1em;
	}
	.precio {
		text-align: right;
		margin-right: 5%;
		float: right;
	}
	.servicio-tipo {
		margin-right: 30px;
		.servicio-desc {
			color: #a9a8a4;
			font-style: italic;
			margin-top: 0;
		}
		.servicio-cant {
			margin-top: 5px;
			margin-bottom: 10px;
		}
	}
	.servicio-items {
		margin: 0 auto;
		text-align: center;
		& > p {
			margin: 20px 10px 0 0;
		}
	}
	.servicio-item {
		cursor: pointer;
		display: inline-block;
		margin-right: 20px;
		vertical-align: top;
		img {
			border: 3px solid #121212;
		}
		& > p {
			font-weight: 800;
		}
		.servicio-desc {
			display: none;
			cursor: default;
			background: black;
			border: 1px solid white;
			padding: 10px;
			margin: 10px 0 10px 0;
			z-index: 99;
			p {
				color: #a9a8a4;
				font-style: italic;
				text-align: left;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					margin-bottom: 20px;
					word-wrap: break-word;
				}
				h3 {
					font-size: 1em;
				}
				a, a:visited {
					color: white;
					text-decoration: none;
					border-bottom: 1px dotted #EEE;
					&:hover {
						color: #BBB;
					}
				}
			}
			.servicio-desc-imgs {
				text-align: center;
				margin: 5px;
				background-color: white;
				img {
					display: inline-block;
					margin-right: 2px;
					border: none;
				}
			}
			.servicio-video {
				position: relative;
				p {
					color: white;
					font-style: normal;
					text-align: center;
					height: 120px;
					padding-top: 80px;
					margin: 0;
				}
			}
			.video-controls {
				display: none;
				position: absolute;
				bottom: 25px;
				background-color: black;
				color: white;
				font-weight: bold;
				width: 52px;
				height: 42px;
				text-align: center;
				padding-left: 3px;
				line-height: 42px;
				border-radius: 5px;
				&.playing {
					font-size: 1.5em;
					width: 55px;
					padding-left: 0;
				}
			}
			.close {
				float: right;
				cursor: pointer;
				color: black;
				background-color: white;
				width: 16px;
				height: 16px;
				padding: 2px;
				font-weight: bold;
				text-align: center;
				padding: 2px;
				margin-top: 4px;
				border-radius: 9px;
			}
		}
	}
	.servicio-item-abierto {
		display: block;
		width: auto;
	}
}

.go-top {
   position: fixed;
   bottom: 0;
   right: 5px;
   background-color: black;
   background-color: rgba(#000, .5);
   padding: 3px;
   cursor: pointer;
   display: block;
   opacity: 0;
   height: 0;
   overflow: hidden;
   @include single-transition(opacity, 1s, ease-out);
   &.active {
     opacity: 1;
     height: 25px;
   }
 }

 .sub-categoria {
   li {
     cursor: pointer;
     &:hover {
       color: #ECECEC;
       }
     }
 }
@media screen and (min-width: 640px) {
	.body-gris {
		.corporis {
			h2 {
				margin-top: 10px;
			}
		}
	}
	.servicio {
		.servicio-item {
			width: 200px;
			margin-left: 20px;
			position: relative;
			.servicio-desc {
				width: 310px;
				left: -65px;
				.servicio-video {
					p {
						display: block;
					}
				}
			}
			.servicio-arrow-up {
				&:before, &:after {
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-bottom: 20px solid black;
					top: -20px;
					content: '';
					left: 50%;
					margin-left: -20px;
					position: absolute;
					z-index: 2;
				}
				&:after {
					border-left: 23px solid transparent;
					border-right: 23px solid transparent;
					border-bottom: 23px solid;
					border-bottom-color: inherit;
					top: -23px;
					margin-left: -23px;
					z-index: 1;
				}
			}
			.servicio-arrow-down {
				&:after, &:before {
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-top: 20px solid black;
					bottom: -20px;
					content: '';
					left: 50%;
					margin-left: -20px;
					position: absolute;
				}
				&:before {
					border-left: 23px solid transparent;
					border-right: 23px solid transparent;
					border-top: 23px solid;
					border-top-color: inherit;
					bottom: -23px;
					margin-left: -23px;
				}
			}
			.servicio-arrow-pull-right {
				&:before, &:after {
					left: 70%;
				}
			}
			.servicio-desc-abierto {
				position: absolute;
			}
			.servicio-desc-abierto-borde {
				left: -80px;
			}
		}
		.servicio-item-abierto {
			display: inline-block;
			margin-right: 20px;
			padding-right: 0;
		}
	}
}

@media screen and (min-width: 960px) {
	.body-gris {
		.corporis {
			margin: -150px 0 0 0px;
			h1 {
				margin: 0;
				border-bottom: 1px dashed white;
			}
			h1, h2 {
				padding-left: 50px;
			}
			& > p {
				padding-left: 50px;
			}
		}
	}
	.servicio {
		padding-left: 50px;
		margin-top: 20px;
		padding-top: 20px;
		.servicio-tipo {
			border-top: 1px solid #444;
			padding-top: 0.5em;
			//width: 200px;
			//float: left;
			.servicio-cant {
				margin-top: 0.5em;//30px;
				color:#777;
			}
		}
		&.servicio-padre .servicio-tipo{
			border-top: none;
		}
		.servicio-items {
			margin-left: -25px;
			text-align: left;
			//margin-right: 12.5em;
			@include single-transition(margin, 0.75s, ease-out);
			.allNavAbierto &{
				margin-right: 0;
			}
			& > p {
				margin: 20px 0 0 20px;
			}
		}
		.servicio-item {
			margin-left: 20px;
		}
		.servicio-item-abierto {
			display: inline-block;
			margin-left: 20px;
		}
	}
}
